body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
#pinterest_effects {
  position: relative;
  object-fit: fill;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 400px;
  top: 30px;
}
#pinterest_effects:hover {
  transition: ;
}
#save-button {
  padding-top: 30px;
  color: white;
  text: bold;
  text-align: center;
  background-color: red;
  height: 60px;
  width: 100px;
  cursor: pointer;
  border-radius: 20px;
}
#username_artist {
  background-color: #edeceb;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  height: 30px;
  width: 30px;
}
#share {
  background-color: #edeceb;
  height: 30px;
  width: 30px;
}
#other {
  background-color: #edeceb;
  height: 30px;
  width: 30px;
}
#pix {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: fill;
  border-radius: 20px;
}
#guess {
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}
#rotated:hover {
  transform: rotate(45);
}
